<h1>Showing the products</h1>
<!-- <%= debug @products %> -->
<!-- <%= @products.to_yaml %> -->
<!-- <%= simple_format @products.to_yaml %> -->
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>Stock</td>
            <td>Cost</td>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <%= debug product %>
        <tr>
            <td><%= product[:id] %></td>
            <td><%= product[:name] %></td>
            <td><%= product[:quantity] %></td>
            <td><%= product[:stock] %></td>
            <td><%= product[:cost] %></td>
        <% end %>
        </tr>
    </tbody>
</table>

<ul>
    <% @products.each do |product| %>
        <li><%= product[:name] %></li>
    <% end %>
</ul>

<ol>
    <% @products.each do |product| %>
        <li><input type="checkbox"><%= product[:name] %></li>
    <% end %>
</ol>

<select>
    <% @products.each do |product| %>
        <option><%= product[:name] %></option>
    <% end %>
</select>