<h1>Showing the time</h1>
<%= @currenttime %>
<div>
    <p>Month: <%= @currenttime.month %> </p>
    <p>Year: <%= @currenttime.year %> </p>
    <p>Day: <%= @currenttime.day %> </p>
    <p>Weekday: <%= @currenttime.wday %> </p>
    <p>Day in the year: <%= @currenttime.yday %> </p>
    <p>Hour: <%= @currenttime.hour %> </p>
    <p>Minute: <%= @currenttime.min %> </p>
    <p>Second: <%= @currenttime.sec %> </p>
    <p>TimeZone: <%= @currenttime.zone %> </p>
</div>